@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Japanese 3017";
  src: url("/external_libraries/Japanese3017.woff2") format("woff2"),
       url("/external_libraries/Japanese3017.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Optional: apply globally */
body {
  /* font-family: "Japanese 3017", sans-serif; */
  /* background-color: rgb(100, 99, 99); */
}

.product-dropdown {
  transition: all 0.3s ease;
}

.product-item:hover {
  color: #1d4ed8; /* Tailwind blue-700 equivalent */
  font-weight: 500;
}
